<style>
    body {
        height: 75vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .frame {
        border-radius: 15px;
        box-sizing: border-box;
        border: 1px solid #757575;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 350px;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #email, #passwd, .btn {
        font-size: 25px;
    }
    .pwd {
        margin-top: 15px;
    }
    .btn {
        width: 322px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>

<h1>12211484 박근채 Final Project</h1>
<div class="frame">
    <h1>Login</h1>
    <form id="email" method="post" action='/'>
        <div class="email">
            <input id="email" name="email" type="text" required placeholder="Email">
        </div>
        <div class="pwd">
            <input id="passwd" name='password' type="password" required  placeholder="Password">
        </div>
        <button class='btn' type="submit">Login</button>
    </form>
</div>

